@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 95%;
}

pre > code {
  display: grid;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

.prose span[data-highlighted-line] {
  background: #c8c8ff1a;
  --tw-border-opacity: 1;
  border-left-color: rgb(96 165 250 / var(--tw-border-opacity));
}
